$white: #fff;
$black: #000;
$green:#27ae60;

$title: #192A3E;
$label: #90A0B7;
$subtitle : #6F6363;

$error: #f44336;

$yellow: #ffc72c;
$background_primary: #9D36B3;
$background_primary_black: #780f94;

$grey: #969da5;
$grey-white: #EBEFF2;
